@model IEnumerable<ApplyNureRulesApp.Models.Term>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/MasterView.cshtml";
}



<div class="container content">
    <button type="submit" class="btn main-btn pull-right">

        @Html.ActionLink("Додати термін", "Add", "Dashboard", new { Style = "color: #ffffff" })
    </button>
    <br /><br />
        <table class="table table-hover">
            <tr>
                <th>
                    Термiн
                </th>
                <th>
                    Визначення
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Term1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Definition)
                    </td>
                    <td>
                        <h4>
                            @Html.ActionLink("Редагувати", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Видалити", "Delete", new { id = item.Id })
                        </h4>
                        
                    </td>
                </tr>
            }

        </table>
</div>
