@model IEnumerable<ApplyNureRulesApp.Models.Content>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Home/MasterView.cshtml";
    }


    <div class="container content">

        <p>
            @Html.ActionLink("Додати", "Add")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    Опис
                </th>
                <th>
                    Категорiя
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryId)
                    </td>
                    <td>
                        @Html.ActionLink("Редагувати", "Edit", new { id = item.Id }) |

                        @Html.ActionLink("Видалити", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
